<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @continent.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @continent.description %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @continent.picture %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @continent.profile %>
</p>

<%= link_to 'Edit', edit_continent_path(@continent) %> |
<%= link_to 'Back', continents_path %>
