<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="container">
    <h1>Subscriptions</h1>
  </div>

  <div class="container row">
    
    <% @subscriptions.each do |subscription| %>
    
      <div class="card col-sm ml-5" style="width: 18rem;">
        <%= subscription.name %>
        <%= image_tag subscription.image, class:"card-img-top" %>
          <div class="card-body">
            <p class="card-text"><%= subscription.description %></p>
          </div>
          <%= link_to 'Show', subscription %>
        <%= link_to 'Edit', edit_subscription_path(subscription) %>
        <%= link_to 'Destroy', subscription, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
          <% end %>
      </div>
  </div>
  <br>
</div>

  <%= link_to 'New Subscription', new_subscription_path %>


