<p id="notice"><%= notice %></p>


<h1>Subscriptions</h1>

<table>


  <tbody>
    <% @subscriptions.each do |subscription| %>
      <div class="container">

        
        <div class="card" style="width: 18rem;">
          <%= subscription.name %>
          <%= image_tag subscription.image, class:"card-img-top" %>
          <div class="card-body">
            <p class="card-text"><%= subscription.description %></p>
          </div>
          <%= link_to 'Show', subscription %>
        <%= link_to 'Edit', edit_subscription_path(subscription) %>
        <%= link_to 'Destroy', subscription, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
        
    </div>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subscription', new_subscription_path %>


