<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @country.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @country.description %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @country.picture %>
</p>

<p>
  <strong>Continent:</strong>
  <%= @country.continent %>
</p>

<%= link_to 'Edit', edit_country_path(@country) %> |
<%= link_to 'Back', countries_path %>
