<p id="notice"><%= notice %></p>

<p>
  <strong>Profile:</strong>
  <%= @wishlist.profile %>
</p>

<p>
  <strong>Attraction:</strong>
  <%= @wishlist.attraction %>
</p>

<%= link_to 'Edit', edit_wishlist_path(@wishlist) %> |
<%= link_to 'Back', wishlists_path %>
