<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @review.content %>
</p>

<p>
  <strong>Daruma rating:</strong>
  <%= @review.daruma_rating %>
</p>

<p>
  <strong>Attraction:</strong>
  <%= @review.attraction %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
