
<div class="location_name">
<div class="d-flex justify-content-center">
<%= @random_location.address%>
</div>
</div>


<div class="main">
<div class="d-flex justify-content-start">
<div id="google_map">
<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@random_location.latitude}%2C#{@random_location.longitude}&key=AIzaSyDeYXTNMSbKRjh2dgSd-9uJ_73Z56Tz9-o" %>
</div>
</div>
</div>


<id="location_btn">
<div class="d-flex justify-content-center">
<%= form_tag locations_path, :method => :get do %>
  
    <div id="btn_feature">
    <%= link_to :back, id: "btn_undo" do %>
    <i class="fas fa-undo"></i>
    <% end %>


    <%= link_to  attractions_path, id: "btn_like" do %>
    <i class="fas fa-thumbs-up"></i>
    <% end %>
    
   
  
    <%= button_tag type: 'submit', id: "btn_dislike" do %>
    <i class="fas fa-thumbs-down"></i>
    <% end %>
    </div>
  
<% end %>
</div>
</div>





<table>
  <tr>
    <th>Address</th>
    
  </tr>
  <% for location in @locations %>
    <tr>
      <td><%= location.address %></td>
      <td><% location.latitude %></td>
      <td><% location.longitude %></td>
      <td><% link_to "Show", location %></td>
      <td><% link_to "Edit", edit_location_path(location) %></td>
      <td><% link_to "Destroy", location, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Location", new_location_path %></p>