<p id="notice"><%= notice %></p>


<div class="location_name">
<div class="d-flex justify-content-center">
<%= @random_location.name%>
</div>
</div>

<div id="img_location">
<div class="d-flex justify-content-center">
<%= image_tag @random_location.pictures.first %>
</div>
</div>

<div id="location_border">
<div id="description_location">
<div class="d-flex justify-content-start">
<%=  @random_location.description %>
</div>
</div>
</div>

<div class="btn_feature">
<div id="location_btn">
<div class="d-flex justify-content-center">
<%= form_tag locations_path, :method => :get do %>
  
    <div id="btn_feature">
    <%= link_to locations_path, class: "btn_undo" do %>
    <i class="fas fa-undo"></i>
    <% end %>


    <%= link_to  attractions_path(:id => @random_location), class: "btn_like" do %>
    <i class="fas fa-thumbs-up"></i>
    <% end %>
    
   
  
    <%= button_tag type: 'submit', class: "btn_dislike" do %>
    <i class="fas fa-thumbs-down"></i>
    <% end %>
    </div>
  
<% end %>
</div>
</div>
</div>
    
<table>
  
  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.name %></td>
        <td><% location.description %></td>
        
        <td><% link_to 'Show', location %></td>
        <td><%= link_to 'Edit', edit_location_path(location) %></td>
        <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Location', new_location_path %>
