<!DOCTYPE html>
<html>
  <head>
    <title>RailsProject</title>
    <%= csrf_meta_tags %>
    <script src="https://kit.fontawesome.com/ab08371c86.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://checkout.stripe.com/checkout.js' %>

    
  </head>

  <body>
    <div id="container">

    <%= render 'partials/nav' %>
 
    <%= yield %>
  </div>
  </body>
</html>
