

<h1>Attractions</h1>

<id="attraction_btn">
<div class="d-flex justify-content-center">

  
    <div id="btn_feature">
    <%= link_to :back, id: "btn_undo" do %>
    <i class="fas fa-undo"></i>
    <% end %>


    <%= link_to   attractions_path,id: "btn_like" do %>
    <i class="fas fa-thumbs-up"></i>
    <% end %>
    
   
  <%= button_tag type: 'submit', id: "btn_dislike" do %>
    
    <i class="fas fa-thumbs-down"></i>
    <% end %>
    </div>
  

</div>
</div>





<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Picture</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @attractions.each do |attraction| %>
      <tr>
        <td><%= attraction.name %></td>
        <td><%= attraction.description %></td>
        <td><%= attraction.picture %></td>
        <td><%= attraction.location %></td>
        <td><%= link_to 'Show', attraction %></td>
        <td><%= link_to 'Edit', edit_attraction_path(attraction) %></td>
        <td><%= link_to 'Destroy', attraction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Attraction', new_attraction_path %>
